<h1> <%= message %></h1>
<form action="/home" method="Post">
	<label for="home">Welcome to home page</label>

<p>
	<a href="login">Logout</a>
</p>
	
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>