<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<nav class="px-5 py-2 bg-secondary">
 <a href="/users/home" class="text-white">Profile</a>  
 <a href="/users/login" class="float-right text-white">LogOut</a>   
</nav>


<div class="w3-container text-center">
		<p><h2><%=userInfo.username %></h2></p>
		<img src="/images/default_profile.png" id="myImage" width="200" height="200" >

	<form action="/users/changePhoto" method="Post" enctype="multipart/form-data" id="changePhoto">
		Choose file<input type="file" name="" id="file">
		<input type="submit" name="" value="save" >
	</form>

		<p><b><%= userInfo.email %></b></p>
	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/home.js"></script>