<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><h1>Welcome</h1></p>
    <p>
	<a href="users/login">Login</a>
</p>
<p>
	<a href="users/register">Register</a>
</p>
  </body>
</html>
