<h1> <%= message %></h1>
<form action="login" method="Post">

	<label for="email">Email</label>
	<p><input type="" name="email" id="email"></p>

	<label for="password">Password</label>
	<p><input type="password" name="password"></p>

	<p><button>Login</button></p>
	
	<a href="register">Register</a>
</form>
