<h1> <%= message %></h1>
<form action="login" method="Post">
	<label for="email">Email</label>
	<p>Email<input type="" name="email"></p>

	<label for="password">Email</label>
	<p>Password<input type="password" name="password"></p>

	<p><button>Login</button></p>
	<a href="register">Register</a>
</form>
