<h1> <%= message %> </h1>
<form action="register" method="Post">

	<label for="username">Username</label>
	<p><input type="" name="username"></p>

	<label for="email">Email</label>
	<p><input type="" name="email"></p>

	<label for="password">Password</label>
	<p><input type="password" name="password"></p>

	<p><button>Register</button></p>
	
	<a href="login">Login</a>
</form>